In [1]:
1+1

2

In [3]:
## creating simpel calculator

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
print("The sum is: ", sum)
difference = num1 - num2
print("The difference is: ", difference)
product = num1 * num2
print("The product is: ", product)
quotient = num1 / num2
print("The quotient is: ", quotient)

The sum is:  83
The difference is:  29
The product is:  1512
The quotient is:  2.074074074074074

In [6]:
age = 16 

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

In [8]:
age = 17

if age < 13:
    print("You are a child.")
elif age < 18:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are a teenager.

In [12]:
## number even, odd or negative

num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
    if num % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is zero.

In [17]:
# determine if a year is a leap year or not using nested conditional statements

year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(f"{year} is a leap year..")
        else:
            print(f"{year} is not a leap year.")
    else:
        print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

1997 is not a leap year.

In [18]:
# create a simple calculator using if-elif-else statements
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
    print(f"The sum is: {result}")
elif operation == "-":
    result = num1 - num2
    print(f"The difference is: {result}")
elif operation == "*":
    result = num1 * num2
    print(f"The product is: {result}")
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
        print(f"The quotient is: {result}")
    else:
        print("Error: Division by zero is not allowed.")
else:
    print("Invalid operation.")

The product is: 500.0

In [19]:
num1 = input('Enter first number: ')
print(num1)

num2 = input('Enter second number: ')
print(num2)

operation = input('Enter operations (+, -, *, /):  ')
print(operation)

if operation == '+':
    res = num1 + num2
    print('The sum is: ', res)
elif operation == '-':
    res = num1 - num2
    print('The diff is: ', res)
elif operation == '*':
    res = num1 * num2
    print('The product is:', res)
elif operation == '/':
    if num2 != 0:
        res = num1/num2
        print('The quotient is: ', res)
    else:
        print('Error: Division by zero is invaid.')
else:
    print('Invalid operation')

12
24
+
The sum is:  1224

In [ ]:
# determine ticket price based on age  and wheter the person is a student or not 

student = input("Are you a student? (yes/no): ").lower()
age = int(input("Enter your age: "))

if student == "yes":
    if age < 5:
        price = 0
    elif age < 18:
        price = 5
    else:
        price = 10

print(f"The ticket price is: ${price}")

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [6]:
str = "Mohini Kathrotiya"

for i in str:
    print(i)

M
o
h
i
n
i

K
a
t
h
r
o
t
i
y
a

In [7]:
## While Loop

count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [8]:
count = 0 

while count % 2 == 0:
    print(count)
    count += 1

0

In [9]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [10]:

for num in range(1, 101):
    if num >1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [1]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(num[1:])
print(num[2:5])
print(num[:5])
print

[2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5]
[1, 2, 3, 4, 5]

In [2]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lst = []
for num in nums:
    if num % 4 == 0:
        lst.append(num)

print(lst)

[4, 8]

In [3]:
words = ['cat', 'elephant', 'dog', 'giraffe', 'bat', 'hippo']


lst = [ word for word in words if word.startswith('b') or word.endswith('t')]

print(lst)

['cat', 'elephant', 'bat']

In [6]:
nums = [11, 22, 33, 44, 55, 66, 77, 88, 99]

even = [ num for num in nums if num %2 ==0]
odd = [num for num in nums if num %2 !=0]

print('Even nums: ', even)
print('Odd nums: ', odd)

Even nums:  [22, 44, 66, 88]
Odd nums:  [11, 33, 55, 77, 99]

In [23]:
nums = [11, 22, 33, 44, 55, 66, 77, 88, 99]
res = {'even': [], 'odd': []}

for num in nums:
    if num %2== 0:
        res['even'].append(num)
    else:
        res['odd'].append(num)

print(res)

{'even': [22, 44, 66, 88], 'odd': [11, 33, 55, 77, 99]}

In [7]:
groups = [
    ['sam', 'alex', 'john'],
    ['emma', 'chris', 'anna'],
    ['mike', 'olivia', 'ian']
]


lst = [name for group in groups for name in group if 'a' in name]
print(lst)

['sam', 'alex', 'emma', 'anna', 'olivia', 'ian']

In [19]:
nums = [2, 3, 4, 5, 6]

lst = [num*10 if num % 2 == 0 else num*5 for num in nums]

print(lst)

[20, 15, 40, 25, 60]

In [24]:
# Manager To-Do List

to_do_list = ['Buy groceries', 'clean the house', 'pay bills']

# adding a task

to_do_list.append('schedule meeting')
to_do_list.append('go for run')

# removing a task
to_do_list.remove('clean the house')

# checking tasks
if 'pay bills' in to_do_list:
    print("Don't forget to pay bills today!")

print("Today's To-Do List:")
for task in to_do_list:
    print(f"- {task}")

Don't forget to pay bills today!
Today's To-Do List:
- Buy groceries
- pay bills
- schedule meeting
- go for run

In [25]:
# organizing student grades

grades = [85, 92, 78, 90, 88]

# calculate avg grades
avg_grade = sum(grades)/len(grades)
print(f'Average grade: {avg_grade:.2f}')

# find the highest and lowest grades
high_grade = max(grades)
low_grade = min(grades)
print(f'Highest grade: {high_grade}')
print(f'lowest grade: {low_grade}')

Average grade: 86.60
Highest grade: 92
lowest grade: 78

In [28]:
# manage an inventory
inventory = ['apples', 'bananas', 'oranges', 'grapes']

# add a new item
inventory.append('strawberries')

#remove an item
inventory.remove('bananas')

# checking if an item is in stcok
item = 'oranges'
if item in inventory:
    print(f'{item} are in stock.')
else:
    print(f'{item} are out of sctock.')

print('Inventory list:')
for item in inventory:
    print(f' -{item}')

oranges are in stock.
Inventory list:
 -apples
 -oranges
 -grapes
 -strawberries

In [29]:
# Collecting user feedback

feedback = ['Great service', 'very satisfied', 'could be better', 'excellent experience']

#adding new feedback
feedback.append('Not happy with the service')

# counting specific feedback
pos_feedback_count = sum(1 for comment in feedback if 'great' in comment.lower() or 'excellent' in comment.lower())
print(f'Positive Feedaback Count: {pos_feedback_count}')

#print all feedback
print('User Feedback:')
for comment in feedback:
    print(f" -{comment}")

Positive Feedaback Count: 2
User Feedback:
 -Great service
 -very satisfied
 -could be better
 -excellent experience
 -Not happy with the service

In [30]:
## Sets

In [31]:
# how to create a set

my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [33]:
my_set_1 = set([1, 2, 3, 6, 5, 2, 1, 3, 4, 5, 4, 5, 6])
print(my_set_1)

{1, 2, 3, 4, 5, 6}

In [35]:
# basic set operations

# adding and removing elements
my_set_1.add(7)
print(my_set_1)

my_set_1.remove(3)
print(my_set_1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

In [37]:
my_set_1.discard(10)
print(my_set_1)

{1, 2, 4, 5, 6, 7}

In [39]:
## pop method

removed_element = my_set_1.pop()
print(removed_element)
print(my_set_1)

2
{4, 5, 6, 7}

In [40]:
my_set_1.clear()
print(my_set_1)

set()

In [41]:
# Set Menmbership test

#whether an element is member of that set

my_set = {1, 2, 3, 4, 5}
print(3 in my_set)
print(10 in my_set)

True
False

In [45]:
## mathematical operations 

set1 = {1, 2, 3, 4, 5, 6}
set2 = {4,5,6,7,8,9}

## Union
union_set = set1.union(set2)
print(union_set)


## Intersection
intersection= set1.intersection(set2)
print(intersection)

## 
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [46]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4,5,6,7,8,9}

## difference
print(set1.difference(set2))

{1, 2, 3}

In [ ]:
# symmetric difference (intersection elements are removed rest all the elements are combined)
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [51]:
## Set Methods

set1 = {1,2,3,4,5}
set2 = {3,4,5}

# is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [ ]:
# get unique emelemts from list using set
lst =[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [55]:
# count unique words in text

text = 'In this tutorial we are discussing about sets'
words = text.split()
print(words)

unq_words = set(words)
print(unq_words)
print(len(unq_words))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets']
{'discussing', 'In', 'tutorial', 'are', 'sets', 'we', 'about', 'this'}
8

In [ ]:
# Dictionaries -  unordered collection of item, key-value pairs, key is immutable (eg. string, num, tuples). Dict is mutable.

empty_dic = {}
print(type(empty_dic))

<class 'dict'>

In [57]:
empty_dic = dict()
print(type(empty_dic))

<class 'dict'>

In [59]:
student = {"name" : "Mohini", "age": 25, 'grade': 24 }
print(student)

{'name': 'Mohini', 'age': 25, 'grade': 24}

In [62]:
student = {"name" : "Mohini", "age": 25, 'grade': 24 }
print(student)

{'name': 'Mohini', 'age': 25, 'grade': 24}

In [69]:
# accessing dict elements

student = {"name" : "Mohini", "age": 25, 'grade': 'A' }
print(student)

print(student['grade'])
print(student['age'])


# accessing using get() method
print(student.get('grade'))
print(student.get('lname'))
print(student.get('lname', 'Not Available'))

{'name': 'Mohini', 'age': 25, 'grade': 'A'}
A
25
A
None
Not Available

In [71]:
# Modifying dict elements
# Dict are mutables, so can add, update or delete elements

print(student)

{'name': 'Mohini', 'age': 25, 'grade': 'A'}

In [73]:
# update the existing element
student['age'] = 33
print(student)

# added new key-value
student['address'] = 'India'
print(student)

# delete the key
del student['grade']
print(student)

{'name': 'Mohini', 'age': 33, 'grade': 'A', 'address': 'India'}
{'name': 'Mohini', 'age': 33, 'grade': 'A', 'address': 'India'}
{'name': 'Mohini', 'age': 33, 'address': 'India'}

In [ ]:
# Common dict methods

key = student.keys()
print(key)

val = student.values()
print(val)

items = student.items() # get all key-value pairs, in form of list of tuples
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Mohini', 33, 'India'])
dict_items([('name', 'Mohini'), ('age', 33), ('address', 'India')])

In [77]:
# Shallow copy

student_copy = student

print(student)
print(student_copy)

{'name': 'Mohini', 'age': 33, 'address': 'India'}
{'name': 'Mohini', 'age': 33, 'address': 'India'}

In [78]:
student['name'] = 'Mohi1'
print(student)
print(student_copy)

{'name': 'Mohi1', 'age': 33, 'address': 'India'}
{'name': 'Mohi1', 'age': 33, 'address': 'India'}

In [79]:
student_copy1 = student.copy()
print(student)
print(student_copy1)

{'name': 'Mohi1', 'age': 33, 'address': 'India'}
{'name': 'Mohi1', 'age': 33, 'address': 'India'}

In [80]:
student['name'] = 'Mohi2'
print(student)
print(student_copy1)

{'name': 'Mohi2', 'age': 33, 'address': 'India'}
{'name': 'Mohi1', 'age': 33, 'address': 'India'}

In [88]:
# Iterating over dict
# Can use loops to iterarte over dict keys, values or key-value pairs, or items

# iterating over keys
for key in student.keys():
    print(key)

# iterating over values
for val in student.values():
    print(val)

# iterating over key-value pairs
for key, value in student.items():
    print(f'{key}: {value}')

name
age
address
Mohi2
33
India
name: Mohi2
age: 33
address: India

In [89]:
# Nested Dict

students = {
    'stud1' : {'name':'Mohini', 'age':25, 'state':'CA'},
    'stud2' : {'name':'Rahil', 'age':25, 'state':'OR'}
}
print(students)

{'stud1': {'name': 'Mohini', 'age': 25, 'state': 'CA'}, 'stud2': {'name': 'Rahil', 'age': 25, 'state': 'OR'}}

In [91]:
## Access nested dict elements

print(students['stud2']['name'])
print(students['stud2']['state'])

Rahil
OR

In [94]:
## Iterating over nested dict

for stud_id, stud_info in students.items():
    print(f"{stud_id} : {stud_info}")
    for key, value in stud_info.items():
        print(f'{key} : {value}')

stud1 : {'name': 'Mohini', 'age': 25, 'state': 'CA'}
name : Mohini
age : 25
state : CA
stud2 : {'name': 'Rahil', 'age': 25, 'state': 'OR'}
name : Rahil
age : 25
state : OR

In [95]:
## Dict comprehension

sq = {x: x**2 for x in range(5)}
print(sq)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [96]:
# conditional dict comprehension

even = {x:x**2 for x in range(10) if x%2==0}
print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [97]:
# use a dict to count the freq of elements in list 


nums= [1,2,3,4,2,2,3,5,3,2,2,4,1,1,3,3,2,3,4,2]

freq = {}

for num in nums:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1

print(freq)

{1: 3, 2: 7, 3: 6, 4: 3, 5: 1}

In [101]:
# Merge 2 dict into one

dict1 = {'a':1, 'b':2}
dict2 = {'c':4, 'd':4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 4, 'd': 4}

## Practice Problems

In [131]:
students = ['Alice', 'Bob', 'Charlie', 'David']

stud_dict = { stud:len(stud) for stud in students}
print(stud_dict)

{'Alice': 5, 'Bob': 3, 'Charlie': 7, 'David': 5}

In [ ]:
scores = {
    'math': 78,
    'science': 85,
    'english': 90
}

new_scores ={}

for key,value in scores.items():
    new_scores[key] = value + 5
    
print(new_scores)

# using dict comprehension
new_scores1 = {k: v+5 for k, v in scores.items()}
print(new_scores1)

{'math': 83, 'science': 90, 'english': 95}
{'math': 83, 'science': 90, 'english': 95}

In [136]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

res = { 'even': [], 'odd': []}

for num in nums:
    if num%2==0:
        res['even'].append(num)
    else:
        res['odd'].append(num)

print(res)

{'even': [2, 4, 6, 8, 10], 'odd': [1, 3, 5, 7, 9]}

In [143]:
employees = [
    {'name': 'Alice', 'salary': 50000},
    {'name': 'Bob', 'salary': 60000},
    {'name': 'Charlie', 'salary': 45000},
    {'name': 'David', 'salary': 70000}
]

lst = []
for employee in employees:
        if employee['salary'] > 50000:
            lst.append(employee['name'])

print(lst)

# dict comprehension way

lst1 = [ e['name'] for e in employees if e['salary'] > 50000]
print(lst1)

['Bob', 'David']
['Bob', 'David']

In [148]:
prices = {
    'apple': 30,
    'banana': 10,
    'mango': 50,
    'orange': 25,
    'grapes': 60
}

lst2 = [(k,v) for k,v in prices.items() if v > 30] 
print(lst2)

[('mango', 50), ('grapes', 60)]

In [155]:
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

counts = {word: words.count(word) for word in words}
print(counts)

counts1 ={}

for word in words:
    if word in counts1:
        counts1[word] += 1
    else:
        counts1[word] = 1

print(counts1)

{'apple': 3, 'banana': 2, 'orange': 1}
{'apple': 3, 'banana': 2, 'orange': 1}

In [157]:
#prob: 7
students = {
    'Alice': 85,
    'Bob': 72,
    'Charlie': 90,
    'David': 65,
    'Eva': 78
}


stud = { 'passed': [], 'failed' : []}

for name, scores in students.items():
    if scores >= 75:
        stud['passed'].append(name)
    else:
        stud['failed'].append(name)

print(stud)

# using dict comprehension
stud1 = {
    'passed' : [name for name, score in students.items() if score>=75],
    'failed' : [name for name, score in students.items() if score<75]
}

print(stud1)

{'passed': ['Alice', 'Charlie', 'Eva'], 'failed': ['Bob', 'David']}
{'passed': ['Alice', 'Charlie', 'Eva'], 'failed': ['Bob', 'David']}

In [169]:
# prob: 8

orders = {
    'order1': {'item': 'pen', 'qty': 10},
    'order2': {'item': 'notebook', 'qty': 5},
    'order3': {'item': 'pen', 'qty': 15}
}

res = {}
for order, order_info in orders.items():
    item = order_info['item']
    qty = order_info['qty']
    if item in res:
        res[item] += qty
    else:
        res[item] = qty

print(res)

{'pen': 25, 'notebook': 5}

In [171]:
# prob 9:

marks = {
    'math': [78, 85, 90],
    'science': [80, 88, 92],
    'english': [70, 75, 80]
}

avg_mrks = {sname: sum(mark)/len(mark) for sname, mark in marks.items() }
print(avg_mrks)

{'math': 84.33333333333333, 'science': 86.66666666666667, 'english': 75.0}

In [178]:
# prob 10:

data = [
    ('apple', 'fruit'),
    ('carrot', 'vegetable'),
    ('banana', 'fruit'),
    ('spinach', 'vegetable')
]

res = {}
for item, category in data:
    if category in res:
        res[category].append(item)
    else:
        res[category] = [item]

print(res)

{'fruit': ['apple', 'banana'], 'vegetable': ['carrot', 'spinach']}

In [182]:
subjects = ['math', 'science', 'english']

res = {}

for subject in subjects:
    res[subject] = len(subject)

print(res)

{'math': 4, 'science': 7, 'english': 7}

In [184]:
prices = {
    'pen': 10,
    'pencil': 5,
    'notebook': 50
}

new_prices = { }

for item, price in prices.items():
    new_prices[item] = price + 5

print(new_prices)

{'pen': 15, 'pencil': 10, 'notebook': 55}

In [190]:
marks = {
    'Alice': 85,
    'Bob': 72,
    'Charlie': 90,
    'David': 65
}

studs = {'passed': [], 'failed':[] }

for name, mark in marks.items():
    if mark >= 75:
        studs['passed'].append(name)
    else:
        studs['failed'].append(name)

print(studs)

{'passed': ['Alice', 'Charlie'], 'failed': ['Bob', 'David']}

In [191]:
ratings = {
    'phone': 4.5,
    'laptop': 4.2,
    'tablet': 3.8,
    'headphones': 4.7,
    'charger': 3.5
}


products = { product: rating for product, rating in ratings.items() if rating>=4.0}
print(products)

{'phone': 4.5, 'laptop': 4.2, 'headphones': 4.7}

In [195]:
transactions = [
    {'user': 'Alice', 'amount': 50},
    {'user': 'Bob', 'amount': 30},
    {'user': 'Alice', 'amount': 70},
    {'user': 'Bob', 'amount': 20},
    {'user': 'Charlie', 'amount': 100}
]

res = {}

for transaction in transactions:
    print(transaction)
    name = transaction['user']
    amount = transaction['amount']

    if name in res:
        res[name] += amount
    else:
        res[name] = amount

print(res)

{'user': 'Alice', 'amount': 50}
{'user': 'Bob', 'amount': 30}
{'user': 'Alice', 'amount': 70}
{'user': 'Bob', 'amount': 20}
{'user': 'Charlie', 'amount': 100}
{'Alice': 120, 'Bob': 50, 'Charlie': 100}

In [196]:
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

res = {}

for word in words:
    res[word] = res.get(word, 0) + 1

print(res)

{'apple': 3, 'banana': 2, 'orange': 1}

In [201]:
scores = [
    ('Alice', 85),
    ('Bob', 72),
    ('Alice', 90),
    ('Bob', 68),
    ('Charlie', 95)
]

res = {}

for name, score in scores:
    res[name] = res.get(name, []) + [score]


print(res)

{'Alice': [85, 90], 'Bob': [72, 68], 'Charlie': [95]}

In [210]:
transactions = [
    {'user': 'Alice', 'category': 'food', 'amount': 50},
    {'user': 'Bob', 'category': 'travel', 'amount': 30},
    {'user': 'Alice', 'category': 'food', 'amount': 20},
    {'user': 'Bob', 'category': 'food', 'amount': 10},
    {'user': 'Alice', 'category': 'travel', 'amount': 40},
]

res = {}
for transaction in transactions:
    user = transaction['user']
    category = transaction['category']
    amount = transaction['amount']

    if user not in res:
        res[user] = {}

    if category not in res[user]:
        res[user][category] = 0

    res[user][category] += amount

print(res)

{'Alice': {'food': 70, 'travel': 40}, 'Bob': {'travel': 30, 'food': 10}}

## Stes Practice Problems

In [ ]:
#problem 1
fruits = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
set_fruits = set(fruits)
print(set_fruits)

#problem 2
colors = {'red', 'green', 'blue'}

if 'yellow' in colors:
    print('Found')
else:
    print('Not Found')


#problem 3
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection = set1.intersection(set2)
print(intersection)

union = set1.union(set2)
print(union)

diff = set1.difference(set2)
print(diff)

{'apple', 'orange', 'banana'}
Not Found

In [221]:
#. Prob 4

A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

sym_diff = A.symmetric_difference(B)
print(sym_diff)

# Prob 5
X = {1, 2, 3}
Y = {1, 2, 3, 4, 5}

subset = X.issubset(Y)
print(subset)

superset = X.issuperset(Y)
print(superset)

# Prob 6
nums = [4, 5, 6, 4, 2, 5, 1, 3, 2]

uni_nums = sorted(set(nums))
print(uni_nums)

{1, 2, 5, 6}
True
False
[1, 2, 3, 4, 5, 6]

## Tuples
#### ordered collection of items, they are immutable

In [1]:
## creating a tuples

tup1 =(1,2,3,4,5)
print(tup1)

(1, 2, 3, 4, 5)

## Practice problems for Sets, Lists, and Dictionaries

In [52]:
# Problem 1

names = ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'David']


set1 = set(names)
print(set1)

dict1 = {name: len(name) for name in set1 }
print(dict1)


# Problem 2
nums = [1, 2, 3, 4, 2, 3, 5, 6, 4, 6, 7]

set2 = set(nums)
print('\n',set2)

counts = {}
for num in nums:
    counts[num] = counts.get(num, 0) +1 # retrieves value for particular key, without giving errors if the key is not present 

print(counts)

lst3 = [ num for num, count in counts.items() if count > 1]
print(lst3)


# problem 3

enrollments = [
    ('Alice', 'Math'),
    ('Bob', 'Math'),
    ('Alice', 'Science'),
    ('Charlie', 'Math'),
    ('Bob', 'Science'),
    ('Alice', 'Math')
]

stud = {}

for name, subject in enrollments:
    if name in stud:
        stud[name].add(subject)
    else:
        stud[name] = {subject}

print('\n',stud)


#problem 4

sentences = [
    "data science is fun",
    "machine learning is powerful",
    "data analysis and science"
]

all_words = []
for sentence in sentences:
    words = sentence.split()
    all_words.extend(words) # used extend to add multiple elements to the list (adds all the individual elements of an iterable (such as a list, tuple, string, or set) to the end of the current list)
print('\n',all_words)

unique_words = set(all_words)
print(unique_words)

counts = {}
for word in all_words:
    counts[word] = counts.get(word, 0) + 1
print(counts)

repeated_words = [ word for word, count in counts.items() if count > 1]
print(repeated_words)



# Problem 5
words = ['apple', 'banana', 'pear', 'grape', 'kiwi', 'plum']

dict3 = {}

for word in words:
    if len(word) in dict3:
        dict3[len(word)].add(word)
    else:
        dict3[len(word)] = {word}

print('\n', dict3)


# Problem 6
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4, 6, 8]
list3 = [1, 2, 4, 7]

set1 = set(list1)
set2 = set(list2)
set3 = set(list3)

common = set1.intersection(set2).intersection(set3)
print('\n', common)

# Problem 7
words = ['apple', 'banana', 'cherry']

letters = [ char for word in words for char in word ]
print('\n',letters)

dict4 = {}
for letter in letters:
    dict4[letter] = dict4.get(letter, 0) +1
print(dict4)

{'Charlie', 'Alice', 'Bob', 'David'}
{'Charlie': 7, 'Alice': 5, 'Bob': 3, 'David': 5}

 {1, 2, 3, 4, 5, 6, 7}
{1: 1, 2: 2, 3: 2, 4: 2, 5: 1, 6: 2, 7: 1}
[2, 3, 4, 6]

 {'Alice': {'Math', 'Science'}, 'Bob': {'Math', 'Science'}, 'Charlie': {'Math'}}

 ['data', 'science', 'is', 'fun', 'machine', 'learning', 'is', 'powerful', 'data', 'analysis', 'and', 'science']
{'powerful', 'data', 'fun', 'learning', 'and', 'science', 'is', 'analysis', 'machine'}
{'data': 2, 'science': 2, 'is': 2, 'fun': 1, 'machine': 1, 'learning': 1, 'powerful': 1, 'analysis': 1, 'and': 1}
['data', 'science', 'is']

 {5: {'apple', 'grape'}, 6: {'banana'}, 4: {'kiwi', 'pear', 'plum'}}

 {2, 4}

 ['a', 'p', 'p', 'l', 'e', 'b', 'a', 'n', 'a', 'n', 'a', 'c', 'h', 'e', 'r', 'r', 'y']
{'a': 4, 'p': 2, 'l': 1, 'e': 2, 'b': 1, 'n': 2, 'c': 1, 'h': 1, 'r': 2, 'y': 1}

## Functions

In [58]:
# Syntax

def function_name(parameters):
    """Doc String"""

    # function body
    return expression


# example 
num = 24
"""Check if a number is even or odd"""
if num % 2 == 0:
    print('\n', 'The number is even')
else:
    print('\n' 'The number is odd')

# function 
def even_odd(num):
    """this function checks if a number is even or odd"""
    if num % 2 == 0:
        print('\n', 'The number is even')
    else:
        print('\n' 'The number is odd')

# Calling the defined function 
even_odd(24)

 The number is even

 The number is even

In [59]:
## function with multiple parameters

def add(a, b):
    """ this function adds 2 nums"""
    return a+b 

result = add(5, 10)
print('\n', 'The sum is: ', result)

 The sum is:  15

In [ ]:
## default parameters

def greet(name = "Guest"): # given guest as default value
    print(f"Hello {name} welcome to the course!")

greet('Axel')

greet()  # This will raise an error because the 'name' parameter is required

Hello Axel welcome to the course!
Hello Guest welcome to the course!

In [73]:
## Variable length arguments
## Positional and keyword arguments

# Positional Arguments
def print_nums(*args):
    for num in args:
        print(num)

print_nums(1,2,3,4,5,6,7,8,9,10, 'Alex') # can pass any number of arguments, called positional arguments

## Keyword Arguments
def print_detail(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_detail(name="Alex", age=25, city='San Jose') # can pass any number of key-value pairs, called keyword arguments


def print_detail2(*args, **kwargs):
    for val in args:
        print(f"Positional arg: {val}")

    for key, value in kwargs.items():
        print(f"{key}: {value}")


# print_detail2(1,2,3,4,5,6,7, name="Alex", age=25, city='San Jose', 8, 9, 10) # gives error because positional arguments should be before keyword arguments

print_detail2(1,2,3,4,5,6,7, 8, 9, 10, name="Alex", age=25, city='San Jose')

1
2
3
4
5
6
7
8
9
10
Alex
name: Alex
age: 25
city: San Jose
Positional arg: 1
Positional arg: 2
Positional arg: 3
Positional arg: 4
Positional arg: 5
Positional arg: 6
Positional arg: 7
Positional arg: 8
Positional arg: 9
Positional arg: 10
name: Alex
age: 25
city: San Jose

In [ ]:
# Return statement 

def mul(a,b):
    return a*b # returns the product of a and b

print(mul(2,3)) #


def mul(a,b):
    return a*b, a # returns the product of a and b and value of a, so return can be unpacked into 2 variables or more

print(mul(2,3))

6
(6, 2)

In [78]:
## Function examples

# Example Temp Conversion 

def convert_temp(temp, unit):
    """this function converts temperature between Celsius and Fahrenheit"""
    if unit == "C":
        return (temp * 9/5) + 32  # Convert Celsius to Fahrenheit
    elif unit == "F":
        return (temp -32) * 5/9  # Convert Fahrenheit to Celsius
    else:
        return "Invalid unit. Please use 'C' for Celsius or 'F' for Fahrenheit."
    
print(convert_temp(25, 'C'))  # Convert 25 Celsius to Fahrenheit
print(convert_temp(77, 'F'))  # Convert 77 Fahrenheit to Celsius

77.0
25.0

In [4]:
## Example 2 Password Checker

def is_strong_password(password):
    """ this function checks if password is strong or not"""
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+' for char in password):
        return False
    return True

## Calling the function

print(is_strong_password("WeakPwd"))
print(is_strong_password('Str0ngPwd!'))

False
True

In [6]:
## Example 3 Calcu;ate total cost of items in shopping cart

def cal_total_cost(cart):
    total_cost = 0
    for item in cart:
        total_cost += item['price']*item['qty']
        
    return total_cost

# Exanple cart datat
cart =[
    {"name":'Apple', 'price': 0.5, 'qty': 4},
    {'name':'banana', 'price':0.3, 'qty':6},
    {'name':'Orange', 'price':0.7, 'qty':3}
]


## Calling the function 
print(cal_total_cost(cart))

5.8999999999999995

In [9]:
## Example 4: Check if a string is Palindrome

def is_palindrome(s):
    s=s.lower().replace(" ", "")
    return s== s[::-1]

print(is_palindrome('A man a plan a canal Panama'))
print(is_palindrome('Hello World!'))
print(is_palindrome('racecar'))

True
False
True

In [ ]:
## Example 6:Calculate factorial of a number using recursion

def factorial(n):
    """ this function will calculate factorial of a num """
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    

print(factorial(5))
print(factorial(20))

120
2432902008176640000

In [11]:
## Example 7: A function to read a file and count the frequency of each word in the file

def count_word_freq(file_path):
    word_count = {}
    with open(file_path, 'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                words = word.lower().strip('.,!/?":;()[]{}"\'')
                word_count[word] = word_count.get(word, 0) + 1
            

    return word_count

file_path = 'sample.txt'

print(count_word_freq(file_path))

{'Hello': 1, 'world.': 1, 'How': 1, 'are': 1, 'you': 1, 'My': 1, 'name': 1, 'is': 1, 'Alex': 1, 'Samberg.': 1}

In [12]:
## Example 8: Validate an Email Address
import re 

def is_valid_email(email):
    """ This function validates an email address format"""

    pattern = r'^[a-zA-Z0-9._+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, email) is not None


## Calling the function 

print(is_valid_email('test@example.com'))
print(is_valid_email('invalid-email@com'))

True
False

### Practice Problems for Basic functions

In [ ]:
# problem 1

def greet(name):
    print(f'Hello, {name}! Welcome to the course.')

greet('Alex')

# Problem 2

def fact(n):
    if n==0:
        return 1
    else:
        return n * fact(n-1)
    
print('\n',fact(5))


# Problem 3

def is_prime(n):
    if n <= 1:
        return False
    if n % 2 == 0 and n >2:
        return False
    else:
        return True

print('\n',is_prime(11))
print(is_prime(4))
print(is_prime(17))


#Problem 4

def sum_list(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

print('\n', sum_list(1,2,3,4,5))


# Problem 5: COunt Vowels in a String

def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
        
print('\n', count_vowels('Hello World'))


# Problem 6:

Hello, Alex! Welcome to the course.

 120

 True
False
True

 15

 3